      
        .brOnlyForResponsiveness{
          display: none;
        }
        input[type=checkbox] {
            transform: scale(2);
        }
         .sections {
         float: left;
         width: 100%;
         }
         ul {
         list-style-type: none;
         padding: 0;
         }
         .grid-products {
         display: inline-block;
         border: none;
         width: 100px;
         height: 100px;
         font-weight: bolder;
         text-align: center;
         padding-top: 5px;
         vertical-align: top;
         }
         .grid-products span {
         display: inline-block;
         margin-top: 40px;
         vertical-align: middle;
         line-height: normal;
         }
         [data-colour='red'] {
         background: red;
         }
         [data-colour='yellow'] {
         background: yellow;
         }
         [data-colour='green'] {
         background: green;
         }
         [data-colour='blue'] {
         background: blue;
         }
         [data-shape='circle'] {
         width: 100px;
         height: 100px;
         -moz-border-radius: 50px;
         -webkit-border-radius: 50px;
         border-radius: 50px;
         }
         [data-shape='rectangle'] {
         width: 200px;
         height: 100px;
         padding-top: 5px;
         }
         .grid-variants {
         display: inline-block;
         border: 1px solid black;
         width: auto;
         margin: 2px;
         }
         .large-boxes {
         width: auto;
         height: auto;
         text-align: center;
         }
      
      
         #jquery-script-menu {
         position: fixed;
         height: 90px;
         width: 100%;
         top: 0;
         left: 0;
         border-top: 5px solid #316594;
         background: #fff;
         -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
         -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
         box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
         z-index: 999999;
         padding: 10px 0;
         -webkit-box-sizing:content-box;
         -moz-box-sizing:content-box;
         box-sizing:content-box;
         }
         .jquery-script-center {
         width: 960px;
         margin: 0 auto;
         }
         .jquery-script-center ul {
         width: 212px;
         float:left;
         line-height:45px;
         margin:0;
         padding:0;
         list-style:none;
         }
         .jquery-script-center a {
         text-decoration:none;
         }
         .jquery-script-ads {
         width: 728px;
         height:90px;
         float:right;
         }
         .jquery-script-clear {
         clear:both;
         height:0;
         }
      
      
      html,body
{
  
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.row h3{
  font-size: 1.7rem
}
td input{
    font-size: 10px;
}
.table td, .table th {
    padding: 10px;
}
      
td.border-dark {
    padding: 3px;
}

span{
  font-size:30px;
  text-align:center;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 25%;
    left: 0px;
    width: 90%;
    background-color: transparent;
    border-radius: 15px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid white;
    padding: 3px;
    margin-left: 5%;
    font-size: 20px;
    color: white;
    background-color: #13539a;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #cf1b24;
    border-radius: 15px;
    opacity:1;
    border: 2px solid #fff;
    color: white;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    opacity:1;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
}



@media only screen and (min-width: 200px) and (max-width: 320px) {
.table td, .table th {
padding: 0px;
}
.box-shadow-padding{
padding: 0px !important;
border: 2px solid #888888;
/* box-shadow: 5px 5px #888888; */
}
.img-fluid-table {
max-height: 60px;
}
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
span.checkbox-custom.rectangular {
    font-size: 12px;
}
h3.text-center {
    font-size: 25px;
}
.table td, .table th {
padding: 5px;
}
.box-shadow-padding{
padding: 0px !important;
border: 2px solid #888888;
/* box-shadow: 5px 5px #888888; */
}
.img-fluid-table {
max-height: 60px;
}
/*label {
color: black;
display: inline-table !important;
cursor: pointer;
font-weight: bold;
padding: 5px 6px !important;
margin: 0;
}
.radio-group {
border: solid 3px #675f6b;
display: flex !important;
margin: 0px 0px 20px 0px !important;
border-radius: 0 !important;
overflow: hidden;
}*/
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  /* For iball slide twinkle i5 tablet: */
.brOnlyForResponsiveness{
  display: block;
}
.tablet-padding-left{
  padding-left: 0 !important;
}
.tablet-heading{
  font-size: 16px !important;
}
.tabelet-col-hide{
  display: none;
}
.tablet-row-width{
  width: 135%;
}
.tablet-img{
  width: 100%;
}
.tablet-container{
  padding: 5px;
}
.tablet-date{
  display: none;
}
.tablet-img-h{
  font-size: 16px !important;
}
.tablet-section{
  padding: 5px;
}

.tablet-mattress-h{
  font-size: 1.5em !important;
}
.btn-group button {
  padding: 5% 18% !important; /* Some padding */
}
/*.radio-group {
    display: flex !important;
    margin: 0 !important;
    overflow: inherit !important;
}
label {
    display: block !important;
    padding: 5px 11px !important;
    margin: 0 !important;
}*/
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
}


.table-responsive{
  display: inline-table;
}



.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10% 50%; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}



/*new*/

@import url("https://fonts.googleapis.com/css?family=Roboto");

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
label {
color: black;
display: inline-flex;
cursor: pointer;
font-weight: bold;
padding: 4px;
margin: 0;
}

.radio-group label {
color: black;
display: inline-flex;
cursor: pointer;
font-weight: bold;
padding: 4px;
margin: 0;
width: 100%;
}

input[type=radio]:checked + label {
  color: #ccc8ce;
  background: #675f6b;
}

label + input[type=radio] + label {
  border-left: solid 3px #675f6b;
}

.radio-group {
border: solid 3px #675f6b;
display: inline-flex;
margin: 0;
border-radius: 0;
overflow: hidden;
width: 100%;
}
/*new*/
.block
{
  margin: 0 auto;
  max-width: 900px;
  padding: 10px 30px;   
}
.input-res
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 15px/1 'Open Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 500px;
  background-color: #ddd;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box; 
}
/*new*/
input[type="email"]::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    text-align: center; 
} 
input[type="text"]::placeholder {  
      
    /* Firefox, Chrome, Opera */ 
    text-align: center; 
} 
input[type="tel"]::placeholder {  
      
    /* Firefox, Chrome, Opera */ 
    text-align: center; 
}
input[type="address"]::placeholder {  
      
    /* Firefox, Chrome, Opera */ 
    text-align: center; 
}  
input[type="email"]:-ms-input-placeholder { 
      
    /* Internet Explorer 10-11 */ 
    text-align: center; 
} 
input[type="email"]::-ms-input-placeholder {  
      
    /* Microsoft Edge */ 
    text-align: center; 
} 


.box-shadow{
  border: 2px solid #888888;
  padding: 25px;
  background-color: #f2f2f2;
  /* box-shadow: 5px 5px #888888; */
}
